@use "~abstracts" as *;

.layout {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  padding: 0 2rem;
  @include tablet {
    padding: 0 20%;
  }
  @include desktop {
    padding: 0 25%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    .user {
      text-transform: capitalize;
      span {
        font-weight: bold;
      }
    }
    .logout {
      cursor: pointer;
      padding: 0.8rem;
      font-weight: 500;
      font-size: 1.4rem;
      text-transform: capitalize;
      border: 1px solid black;
      transition: all 0.2s ease;
      &:hover {
        color: white;
        background-color: black;
      }
    }
    .dashboard {
      color: black;
      font-weight: bold;
      text-transform: capitalize;
      font-size: 1.4rem;
    }
  }
}
