@use "~abstracts" as *;

.login {
  display: flex;
  margin-top: 10vh;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  @include tablet {
    padding: 0 5rem;
  }
  @include desktop {
    padding: 0 10vw;
  }
  .header {
    text-align: center;
  }
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    .field {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .text {
        font-weight: 500;
        font-size: 1.4rem;
      }
      input {
        padding: 1rem;
        border: 1px solid black;
      }
      &Error {
        color: red;
        input {
          border-color: red;
        }
      }
      .error {
        font-size: 1.4rem;
      }
      .other {
        color: black;
        font-size: 1.4rem;
        text-align: right;
        a {
          color: black;
          font-weight: bold;
          text-transform: capitalize;
        }
      }
    }
    button {
      cursor: pointer;
      padding: 1rem;
      background-color: black;
      color: white;
      text-transform: capitalize;
      font-weight: 500;
      border: none;
      margin-top: 1rem;
      transition: all 0.2s ease;
      &:hover {
        background-color: lighten(black, 25%);
      }
    }
  }
}
