@use "~abstracts" as *;

.home {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
  @include tablet {
    padding: 0 20%;
  }
  @include desktop {
    padding: 0 30%;
  }
  .intro {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;

    .avatar {
      @include size(10rem);
      border-radius: 50%;
      img {
        border-radius: inherit;

        object-fit: cover;
        @include size(100%);
      }
    }
    .text {
      font-weight: bold;
    }
  }
}
