@use "~abstracts" as *;

.users {
  .header {
    margin-top: 2rem;
    text-align: center;
  }
  .placeholder {
    opacity: 0.5;
    text-align: center;
    grid-column: 1 / -1;
  }
  .list {
    display: grid;
    margin-top: 2rem;
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
    .user {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      border: 1px solid black;
      padding: 1rem;
      .controls {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
        font-weight: bold;
        text-transform: capitalize;

        span {
          cursor: pointer;
          font-size: 1.4rem;
        }
      }

      .fields {
        display: grid;
        gap: 0.5rem;

        .field {
          display: flex;
          gap: 1rem;

          .text {
            text-transform: capitalize;
            font-weight: bold;
          }
        }
      }
    }
  }
}
