@use "~abstracts" as *;


.home {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .intro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    .avatar {
      @include size(8rem);
      border-radius: 50%;
      overflow: hidden;

      img {
        object-fit: cover;
        @include size(100%);
      }
    }

    .text {
      font-weight: bold;

    }
  }
}
